<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}
  </head>

  <body>
   
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
          
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
  
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}
    

      <span class="banner-fix"></span>


      <section id="main_content">
        <body>
    <header>
      <h1>COVID-19 Info</h1>
      <h2>
       Prevention and Risks
      </h2>
    </header>

    <main>
      <main>
        
          <form>
            
            
   <p class="bold"> What is my risk of getting COVID-19 in Canada?:</p>
        <p> COVID-19 is a serious health threat, and the situation is evolving daily. The risk will vary between and within communities, but given the increasing number of cases in Canada, the risk to Canadians is considered high.

This does not mean that all Canadians will get the disease. It means that there is already a significant impact on our health care system. If we do not flatten the epidemic curve now, the increase of COVID-19 cases could impact health care resources available to Canadians.

We continue to reassess the public health risk based on the best available evidence as the situation evolves.</p>
            
 <p>While COVID-19 can make anyone sick, some Canadians with specific health circumstances are at an increased risk of more severe outcomes, including individuals:</p>
             <li>aged 65 and over</li>
             <li>with compromised immune systems</li>
             <li>difficulty breathing</li>
              <li>with underlying medical conditions</li>
            
            
              
 <p>In addition, social and economic circumstances may also be a factor in identifying someone who is vulnerable to COVID-19. This includes anyone who has:</p>
            
            
        <li>economic barriers</li>
             <li>difficulty accessing transportation</li>
                   
        <li>difficulty accessing medical care or health advice</li>
             <li>unstable employment or inflexible working conditions</li>
             
        <li>insecure, inadequate, or nonexistent housing conditions</li>
             <li>ongoing specialized medical care or needs specific medical supplies</li>
            
              <li>social or geographic isolation, like in remote and isolated communities</li>
             <li>difficulty reading, speaking, understanding or communicating</li>
              <li>ongoing supervision needs or support for maintaining independence</li>
             <li>difficulty doing preventive activities, like frequent hand washing and covering coughs and sneezes</li>
          
            
            
 <p class="bold">How can I protect myself from getting COVID-19?:</p>
            
<p>Canadians should continue to think ahead about the actions that they can take to stay healthy and prevent the spread of COVID-19 in Canada. This includes staying at home as much as possible and being prepared in case you or a family member becomes ill. Everyone should be practising physical (social) distancing. Even if you do not have symptoms of COVID-19, you could become infected by others.

As we continue to see transmission of the virus within different communities, we know that everyone must take precautions, even those who have not travelled outside of Canada.</p>
            
<p>In an effort to prevent the spread of COVID-19 within communities and across the country, all Canadians are advised to:</p>

<li>stay at home unless you have to go to work</li>
<li>talk to your employer about working at home if possible</li>
            <li>avoid all non-essential trips in your community</li>
            <li>do not gather in groups</li>
            <li>limit contact with people at higher risk, such as older adults and those in poor health</li>
            <li>go outside to exercise but stay close to home</li>
            <li>if you leave your home, always keep a distance of at least 2 arms lengths (approximately 2 metres) from others</li>
             
            <li>household contacts (people you live with) do not need to distance from each other unless they are sick or have travelled in the last 14 days</li>
             
   <p>You can go for a walk if you:</p>     
    <li>have not been diagnosed with COVID-19</li>
    <li>do not have symptoms of COVID-19</li>
     <li>have not travelled outside of Canada in the past 14 days</li>
     <li>are not in quarantine (self-isolating)</li>
     <li>are not isolating</li>
 <p>
   If you go out for a walk, do not congregate and always practise physical (social) distancing by keeping at least 2 metres apart from others at all times.
            </p>
            
            
            
    
            
            
   <p class="bold">What is physical (social) distancing and how does it help to minimize COVID-19?:</p>
            
         <p>Together, we can slow the spread of COVID-19 by making a conscious effort to keep a physical distance between each other. Physical (social) distancing is proven to be one of the most effective ways to reduce the spread of illness during an outbreak.</p>   
  <p> This means making changes in your everyday routines to minimize close contact with others, including:</p>
          
            <li>avoiding crowded places and non-essential gatherings</li>
             <li>avoiding common greetings, such as handshakes</li>
            <li>limiting contact with people at higher risk like older adults and those in poor health</li>
             <li>keeping a distance of at least 2 arms-length (approximately 2 metres) from others</li>
            
            
         <button type="Back" id="Back">
          <a href="COVID.html">Back</a>
        </button>
      </form>
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
      </main>
  </body>
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            {% if site.github.is_project_page %}
              <p>This project by Alpha Team can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
            
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        
      </footer>
     
    
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
  <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "wP762pt1lN");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>

</html>
